.container{
	width: 2rem;
	background-color: rgb(30,144,255);
	position: fixed;
	bottom: 0;
	padding: 1rem;
}

.imagem1 {
	/*display: flex;*/
	width: 100%;
	background-image: url("aprocura.jpg");
	background-position: center;
	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}
.col a{
	color: rgb(0,0,0);
	margin-left: 2rem;
}


.texto{
	border-style: solid;
	visibility: hidden;
	font-family: Palatino, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(0,0,0);
	position: fixed;
	background-color: rgb(30,144,255);
	/*text-align: center;*/
	justify-content: space-evenly;
	left: -90%;
	transition: left .5s

}

.fas .fa-exclamation: hover+ .texto{
	visibility: visible;
	left: 0;
}





