.container{
	width: 2rem;
	background-color: rgb(30,144,255);
}

.imagem1 {
	/*display: flex;*/
	background-image: url("google_maps.jpg");
	background-position: center;
	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
}
.col a{
	color: rgb(0,0,0);
	margin-left: 2rem

}

.fas .fa-search{
	margin-left: 3rem;
	color: rgb(0,0,0);

	
}

.fas .fa-question{
	position: absolute;
	display: inline;

}


.texto{
	border-style: solid;
	font-family: Palatino, sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(0,0,0);
	position: fixed;
	background-color: rgb(30,144,255);
	/*text-align: center;*/
	justify-content: space-evenly;
	left: -100%;


}





